# dependencies
/node_modules

# production
/dist

# testing
/coverage

# environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / editor
.DS_Store

# logs
npm-debug.log*